<div>
    <div class="row lp_title_row">
        <div class="col l3 s4 m4 center adminPageLogo">
            <div class="ap_logo_div">
                <div class="logoQuiz">Quiz</div>
                <div class="logoGrad">Grad</div>
            </div>
        </div>
        <div class="col l9 s8 m8 lp_titlerow_loginbtn_align qs_username_col">
            <a class="qs_username right">Admin: <i class="material-icons qs_person_icon_align">person</i>{{adminname}}</a>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col l10 s12 m12 offset-l1">
            <div class="card choosetopic_card hoverable">
                <div class="card-content">
                    <div class="center ct_heading">Delete Topic</div>
                    <div class="center ct_info">Select one of the following topic to delete it.</div>
                    <div class="row center">
                        <div class="col l3 s6 m6 ct_boxed" ng-repeat="topic in topics">
                            <input type="radio" id="topic{{$index}}" name="topic" data-target="modal{{$index}}" class="modal-trigger" ng-click="delete(topic)">
                            <label for="topic{{$index}}">{{topic}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>