<div>
    <div class="row">
        <div class="col l6 s12 m12">
            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="card su_card">
                        <div class="card-content">
                            <span class="card-title center">
                                <img src="./full_logo.png" style="max-width:250px;height:auto;">
                            </span>
                            <div class="row center su_greeting_title" ng-show="changepassword_hide">
                                Please enter your Email and Date of Birth inorder to vertify that this is you.
                            </div>
                            <div class="row center su_greeting_title" ng-hide="changepassword_hide">
                                Please enter a New Password to change it.
                            </div>
                            <div  class="su_inputfield" ng-show="changepassword_hide">
                                <span class="su_input_span">Email</span>
                                <input type="email" ng-model="email">
                            </div>
                            <div  class="su_inputfield su_remove_top_border" ng-show="changepassword_hide">
                                <span class="su_input_span">Date of Birth</span>
                                <input type="date" ng-model="dob">
                            </div>
                            <div  class="su_inputfield" ng-hide="changepassword_hide">
                                <span class="su_input_span">Password</span>
                                <input type="password" ng-model="password">
                            </div>
                            <div  class="su_inputfield su_remove_top_border" ng-hide="changepassword_hide">
                                <span class="su_input_span">Confirm Password</span>
                                <input type="password" ng-model="confirmpassword">
                            </div>
                            <div class="row center red_text_row_padding">
                                <div class="col l12 m12 s12">
                                    <a class="red-text">{{message}}</a>
                                </div>
                            </div>
                            <div class="row su_actionbtn_row">
                                <div class="col s12 m12 l12 center" ng-show="changepassword_hide">
                                    <a class="btn su_signup_btn" ng-click="forgot_password()">Verify</a>
                                </div>
                                <div class="col s12 m12 l12 center" ng-hide="changepassword_hide">
                                    <a class="btn su_signup_btn" ng-click="change_password()">Change</a>
                                </div>
                                <div class="row"></div>
                                <div class="col s12 m12 l12 center" ng-show="forgotPasswordPreloader">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-blue">
                                          <div class="circle-clipper left">
                                            <div class="circle"></div>
                                          </div>
                                          <div class="gap-patch">
                                            <div class="circle"></div>
                                          </div>
                                          <div class="circle-clipper right">
                                            <div class="circle"></div>
                                          </div>
                                        </div>
                    
                                        <div class="spinner-layer spinner-red">
                                          <div class="circle-clipper left">
                                            <div class="circle"></div>
                                          </div>
                                          <div class="gap-patch">
                                            <div class="circle"></div>
                                          </div>
                                          <div class="circle-clipper right">
                                            <div class="circle"></div>
                                          </div>
                                        </div>
                    
                                        <div class="spinner-layer spinner-yellow">
                                          <div class="circle-clipper left">
                                            <div class="circle"></div>
                                          </div>
                                          <div class="gap-patch">
                                            <div class="circle"></div>
                                          </div>
                                          <div class="circle-clipper right">
                                            <div class="circle"></div>
                                          </div>
                                        </div>
                    
                                        <div class="spinner-layer spinner-green">
                                          <div class="circle-clipper left">
                                            <div class="circle"></div>
                                          </div>
                                          <div class="gap-patch">
                                            <div class="circle"></div>
                                          </div>
                                          <div class="circle-clipper right">
                                            <div class="circle"></div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l6 m12 s12 center lrs_hatimg_col">
            <img class="lrs_hatimg" src="./lrs_img.jpg" style="max-width:100%;height:auto;">
        </div>
    </div>
</div>