<div ng-init="getnews()">
    <div class="navBarDiv">
        <nav>
            <div class="nav-wrapper">
              <div class="brand-logo">
                <div class="logoQuiz">Quiz</div>
                <div class="logoGrad">Grad</div>
              </div>
              <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
              <ul class="right">
                <li>
                    <a class="btn lp_titlerow_loginbtn" ng-click="gotologin()">Login</a>
                </li>
              </ul>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a class="lp_titlerow_link modal-trigger" href="#login" target="_blank">
                        <span class="material-symbols-outlined">send</span> Request Topic
                    </a>
                </li>
                <li>
                    <a class="lp_titlerow_link modal-trigger" href="#login" target="_blank">
                        <span class="material-symbols-outlined">comment</span> Feedback
                    </a>
                </li>
                <li>
                    <a class="lp_titlerow_link modal-trigger" href="#news" target="_blank">
                        <span class="material-symbols-outlined">mark_email_unread</span> News
                    </a>
                </li>
                <li>
                    <a class="lp_titlerow_link modal-trigger" href="#modal1" target="_blank">
                        <span class="material-symbols-outlined">sentiment_very_satisfied</span> About Me
                    </a>
                </li>
              </ul>
            </div>
        </nav>
    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col l6 m12 s12">
            <div class="row lp_slogan_row">
                <div class="col l10 s12 m12 offset-l2">
                    <h1 class="lp_slogan">Unleash</h1>
                    <h1 class="lp_slogan">Your Inner</h1>
                    <h1 class="lp_slogan">Quiz Champion!</h1>
                </div>
            </div>
            <div class="row lp_info_row_belowslogan">
                <div class="col l10 m12 s12 offset-l2">
                    <a class="lp_info_belowslogan">Discover fascinating facts and have fun playing the quiz!</a>
                </div>
            </div>
            <div class="row">
                <div class="col l12 s12 m12 center">
                    <a class="btn lp_info_startsolving_btn" ng-click="gotologin()">Start solving</a>
                </div>
            </div>
        </div>
        <div class="col l6 m12 s12">
            <img src="./lp_img.jpg" style="max-width:100%;height:auto;">
        </div>
    </div>

    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>ABOUT ME</h4>
          <p>So, You're curious about me? 🤭 Hehe, Gotcha 🙃</p>
          <p>Mmm... Where should I strat? 🤔</p>
          <p>Alright, I'm 18 and I am currently pursuing my B.Tech Artificial Intelligence and Data Science Degree at Sri Ramakrishna Engineering College 😙</p>
          <p>And Yeah, I LOVE to code stuffs and as you can see, this is the outcome of it 😁</p>
          <p>You could say I am a full stack developer who could design a complete web-applications ✌</p>
          <p>I just do it for the fun ✨</p>
        </div>
        <div class="modal-footer">
          <a class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <div id="login" class="modal modal-fixed-footer">
        <div class="modal-content">
            <p>Please Login  to continue</p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <div class="modal modal-fixed-footer" id="news">
        <div class="modal-content">
            <h4>NEWS</h4>
            <ul class="collapsible">
                <li ng-repeat="el in news">
                    <div class="collapsible-header">{{el.name}}<div class="newsDate">{{el.date}}</div></div>
                    <div class="collapsible-body" ng-bind="el.message"></div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li>
            <a class="lp_titlerow_link modal-trigger" href="#login" target="_blank">
                <span class="material-symbols-outlined">send</span> Request Topic
            </a>
        </li>
        <li>
            <a class="lp_titlerow_link modal-trigger" href="#login" target="_blank">
                <span class="material-symbols-outlined">comment</span> Feedback
            </a>
        </li>
        <li>
            <a class="lp_titlerow_link modal-trigger" href="#news" target="_blank">
                <span class="material-symbols-outlined">mark_email_unread</span> News
            </a>
        </li>
        <li>
            <a class="lp_titlerow_link modal-trigger" href="#modal1" target="_blank">
                <span class="material-symbols-outlined">sentiment_very_satisfied</span> About Me
            </a>
        </li>
    </ul>
</div>