<div>
    <div class="navBarDiv">
        <nav>
            <div class="nav-wrapper">
            <a class="brand-logo">
                <img src="./full_logo.png" style="max-width:160px;height:auto;">
            </a>
              <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
              <ul class="right">
                <li>
                    <a class="qs_username"><i class="material-icons qs_person_icon_align">person </i>{{username}}</a>
                </li>
              </ul>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a class="lp_titlerow_link modal-trigger" href="#modal3" target="_blank">Request Topic</a>
                </li>
                <li>
                    <a class="lp_titlerow_link modal-trigger" href="#modal2" target="_blank">Feedback</a>
                </li>
                <li>
                    <a class="lp_titlerow_link modal-trigger" href="#aboutme" target="_blank">About Me</a>
                </li>
              </ul>
            </div>
        </nav>
    </div>
    <div class="row"></div>
    <div class="qs_pogress_fullbar" ng-show = "quizStarted_init"><div class="qs_pogress" ng-style="{ 'width': progress + '%' }"></div></div>
    <div class="row" ng-repeat="el in questions" ng-show="{{$index}}==slide"> 
        <div class="question_div">{{el.question}}</div>
        <div class="col l3 s6 m6 boxed">
            <input type="radio" id="option1{{$index}}" name="question{{$index}}" ng-model="answer[$index]" ng-change="getanswer()" value="1">
            <label for="option1{{$index}}">{{el.option1}}</label>
            <a class="qs_abcd">A.</a>
        </div>
        <div class="col l3 s6 m6 boxed">                                                          
            <input type="radio" id="option2{{$index}}" name="question{{$index}}" ng-model="answer[$index]" ng-change="getanswer()" value="2">
            <label for="option2{{$index}}">{{el.option2}}</label>
            <a class="qs_abcd">B.</a>
        </div> 
        <div class="col l3 s6 m6 boxed">
            <input type="radio" id="option3{{$index}}" name="question{{$index}}" ng-model="answer[$index]" ng-change="getanswer()" value="3">
            <label for="option3{{$index}}">{{el.option3}}</label>
            <a class="qs_abcd">C.</a>
        </div>
        <div class="col l3 s6 m6 boxed">                                                          
            <input type="radio" id="option4{{$index}}" name="question{{$index}}" ng-model="answer[$index]" ng-change="getanswer()" value="4">
            <label for="option4{{$index}}">{{el.option4}}</label>
            <a class="qs_abcd">D.</a>
        </div>
    </div>
    <div class="row qs_action_btns_row" ng-show = "quizStarted_init">
        <div class="col l6 s6 m6 center" style="display: flex;">
            <a class="btn qs_btns previous" ng-hide="slide==0" ng-click="beforeslide()"><i class="material-icons qs_btn_icon">navigate_before</i>Previous</a>
        </div>
        <div class="col l3 s3 m3" style="text-align: right;">
            <a class="btn qs_btns next center" style="display: flex;" ng-hide="slide==(questions.length - 1)" ng-click="nextslide()">Next<i class="material-icons qs_btn_icon">navigate_next</i></a>
            <a class="btn qs_btns next center" ng-show="slide==(questions.length - 1)" ng-click="validate(); gotoscore()">Submit</a>
        </div>
        <div class="col l3 m3 s3 left">
            <a class="btn qs_btns skip" ng-click="nextslide()" ng-hide="slide==(questions.length - 1)">
                Skip<i class="material-icons qs_btn_icon">fast_forward</i>
            </a>
        </div>
    </div>
    <div class="row" ng-hide = "quizStarted_init">
        <div class="col l4 s8 m8 offset-l4 offset-s2 offset-m2 center">
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
    </div>

    <div id="aboutme" class="modal">
        <div class="modal-content">
          <h4>ABOUT ME</h4>
          <p>So, You're curious about me? 🤭 Hehe, Gotcha 🙃</p>
          <p>Mmm... Where should I strat? 🤔</p>
          <p>Alright, I'm 18 and I am currently pursuing my B.Tech Artificial Intelligence and Data Science Degree at Sri Ramakrishna Engineering College 😙</p>
          <p>And Yeah, I LOVE to code stuffs and as you can see, this is the outcome of it 😁</p>
          <p>You could say I am a full stack developer who could design a complete web-applications ✌</p>
          <p>I just do it for the fun ✨</p>
        </div>
        <div class="modal-footer">
          <a class="modal-close waves-effect waves-green btn-flat">Ok</a>
        </div>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>FEEDBACK</h4>
            <p>I am currently working on this feature. Through this feature, I will be able to read all your feedbacks and suggestion that you send to me. I'll do my best to implement this feature as soon as possible :)</p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">Ok</a>
        </div>
    </div>

    <div id="modal3" class="modal">
        <div class="modal-content">
            <h4>REQUEST TOPICS</h4>
            <p>I am currently working on this feature. Through this feature, You will be able to request me a topic that you are interested in, so that I can add it to the quiz. Cool, right? I'll do my best to implement this feature as soon as possible. Hope you're looking forward to it.</p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">Ok</a>
        </div>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li>
            <a class="lp_titlerow_link modal-trigger" href="#modal3" target="_blank">Request Topic</a>
        </li>
        <li>
            <a class="lp_titlerow_link modal-trigger" href="#modal2" target="_blank">Feedback</a>
        </li>
        <li>
            <a class="lp_titlerow_link modal-trigger" href="#aboutme" target="_blank">About Me</a>
        </li>
    </ul>
</div>
