<div>
    <div class="score_div center">
        <img class="sp_score_img" src="./score_page.png" style="max-width:100%;height:auto;">
        <div class="your_score" style="max-width:100%;height:auto;">Your score</div>
        <div class="mark" style="max-width:100%;height:auto;">{{marks}}</div>
    </div>
    <div class="sp_btn_div row">
        <div class="col s6 center sp_btn_col"><a class="btn sp_btn" ng-click="checkanswers()">Check Answers</a></div>
        <div class="col s6 center sp_btn_col"><a class="btn sp_btn" ng-click="complete()">Complete</a></div>
    </div>
</div>

<style>
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>