<div>
  <div class="row">
    <div class="col l6 m12 s12">
      <div class="row">
        <div class="col l12 s12 m12">
          <div class="card su_card">
            <div class="card-content">
              <span class="card-title">
                <div class="cardLogo">
                  <div class="logoQuiz">Quiz</div>
                  <div class="logoGrad">Grad</div>
                </div>
              </span>
              <div class="row center su_greeting_title">
                Please Signup to start solving.
              </div>
              <div class="su_inputfield">
                <span class="su_input_span">Name</span>
                <input type="text" ng-model="name">
              </div>
              <div class="su_inputfield su_remove_top_border">
                <span class="su_input_span">Email address</span>
                <input type="email" ng-model="email">
              </div>
              <div class="su_inputfield su_remove_top_border">
                <span class="su_input_span">Date of Birth</span>
                <input type="date" ng-model="dob">
              </div>
              <div class="su_inputfield su_remove_top_border">
                <span class="su_input_span">Password</span>
                <input type="password" ng-model="password">
              </div>
              <div class="su_inputfield su_remove_top_border">
                <span class="su_input_span">Confirm Password</span>
                <input type="password" ng-model="confirmpassword">
              </div>
              <div class="row center red_text_row_padding">
                <div class="col l12 s12 m12">
                  <a class="red-text">{{message}}</a>
                </div>
              </div>
              <div class="row su_actionbtn_row ">
                <div class="col l12 s12 m12 center" ng-show="signupPagePreloader">
                  <a class="btn su_signup_btn" ng-click="signup_user()">Signup</a>
                </div>
                <div class="col l12 s12 m12 center" ng-hide="signupPagePreloader">
                  <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-blue">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div>
                      <div class="gap-patch">
                        <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div>
                      <div class="gap-patch">
                        <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div>
                      <div class="gap-patch">
                        <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div>
                      <div class="gap-patch">
                        <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col l6 m12 s12 center lrs_hatimg_col">
      <img class="lrs_hatimg" src="./lrs_img.jpg" style="max-width:100%;height:auto;">
    </div>
  </div>
</div>